
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
a{
    color: black;
}

header {
  height: 101px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
    position: relative;
    z-index: 10;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  /* background-color: yellow; */
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 51px;
  width: 51px;
}

.logo img {
  height: 100%;
}

.left__nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.left__nav > nav > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.left__nav > nav > ul > li {
  padding-left: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.left__nav > nav > ul > li:hover {
  color: #008248;
}

.right__nav {
  display: flex;
  align-items: center;
}

.find__store {
  margin-right: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.find__store i {
  padding-right: 8px;
  font-size: 24px;
}

.find__store:hover {
  color: #008248;
}

.sign__in,
.join__now {
  border: 1px solid;
  padding: 7px 16px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.2;
}

.sign__in {
  margin-right: 16px;
}

.sign__in:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.join__now {
  background-color: black;
  color: white;
}
.join__now:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
}
